# Xcode
# ... (other patterns)
Currency-API-RxSwift/Store/Constants.swift
.build/
Carthage/Build/
Dependencies/
.accio/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
iOSInjectionProject/

